.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #020617;
  z-index: 1000;
}

/* LOGO */
.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.logo span {
  color: #8b5cf6;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #cbd5f5;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

/* HOVER */
.nav-links a:hover {
  color: #8b5cf6;
  transform: translateY(-2px);
}

/* ACTIVE TAB */
.active {
  color: #8b5cf6;
  border-bottom: 2px solid #8b5cf6;
  padding-bottom: 3px;
}

/* AUTH */
.auth-buttons {
  display: flex;
  gap: 12px;
}

/* LOGIN (secondary) */
.login {
  padding: 6px 16px;
  border-radius: 8px;
  border: 1px solid #8b5cf6;
  background: transparent;
  color: #8b5cf6;
  cursor: pointer;
  transition: 0.3s;
}

.login:hover {
  background: #8b5cf6;
  color: white;
}

/* SIGNUP (primary) */
.signup {
  padding: 6px 16px;
  border-radius: 8px;
  border: none;
  background: #8b5cf6;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.signup:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px #8b5cf6;
}